/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 80px; /* Aumentando a altura do header */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    height: 100%; /* Para garantir que o conteúdo preencha a altura do header */
}

.logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffcc00;
}

.search-icon img {
    height: 30px; /* Ajuste conforme necessário */
    cursor: pointer;
}

/* Carousel */
.carousel {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.carousel-slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-slide.active {
    display: block;
    animation: fadeIn 1s ease-in-out;
}

.carousel-slide h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Grid Layout */
#attractions {
    background-color: white;
    padding: 40px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0; /* Remove o espaçamento entre os itens */
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 200px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.grid-item h3 {
    margin: 0;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 3px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
